@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #000000 16.62%, #5F290B 57.09%);
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}

.topo-imagem {
    height: 60px;
}

.topo-menu {
    display: flex;
    gap: 32px;
}

.topo-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

/* efeito menu header */
a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.1px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #FFF2E7;
    font-size: 64px;
}

.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-size: 21px;
    color: #ECD6C4;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.conteudo-secundario-imagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 12px;
}

.conteudo-secundario-legenda {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #FFF2E7;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 32px;
    display: block;
    margin: 0 auto;
}